<% unless is_admin? %>
  <%= link_to "New Post", new_user_post_path(@user), class: "btn btn-primary" %>
<% end %>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <p> Post ID: <%= link_to post.id, user_post_path(@user, post) %> </p>
    <%= image_tag post.avatar.url(:thumb) %>
    <br>
    <p> <%= post.description %> </p>
    <p> Author: <%= @user.username %> </p>
    <hr>
  <% end %>
<% else %>
  <h4>no posts yet for this user yet yo yet </h4>
<% end %>
<%= link_to "Delete Account", user_path(current_user), method: 'delete', class: 'btn btn-danger' %>
