<h3>All posts from user: <%= @user.id %></h3>
<p><%= @post.description %></p>
<p> - <%= @post.author %></p>
<%= image_tag @post.avatar.url %>
<br>
<%= link_to 'delete post', user_post_path(@user, @post), method: 'delete' %>
